#container {
 /*   -fx-background-color: #545454; */
    -fx-background-color: pink;
    -fx-border-width: 2px;
}

#datasetUploadPane {
  -fx-border-width: 2px;
  -fx-border-color: black;
}

.list-view .list-cell:even {
/*    -fx-background-color: #545454; */
    -fx-background-color: pink;
    -fx-text-fill: white;
}

.list-view .list-cell:odd {
 /*   -fx-background-color: #444444; */
    -fx-background-color: red;
    -fx-text-fill: white;
}

.list-view .list-cell:empty {
    -fx-visibility:hidden;
}

#matches .list-cell {
    -fx-alignment: center;
}


#matches:focused {
    -fx-focus-color: transparent;
}

.image-view {
 -fx-padding: 5px;
 -fx-border-width: 2px;
 -fx-border-color: black;
}

#flow-pane {
}

#addToDatasetButton{
    text-align: center;
}

#infoGrid {
  -fx-border-width: 2px;
  -fx-border-color: black;
}

.label {
  -fx-text-fill: white;
}

.check-box {
  -fx-text-fill: white;
  -fx-margin-right: 10px;
}